23
1_up
../Media/Audio/SFX/smb_1-up.wav
bowser_falls
../Media/Audio/SFX/smb_bowserfalls.wav
bowser_fire
../Media/Audio/SFX/smb_bowserfire.wav
break_block
../Media/Audio/SFX/smb_breakblock.wav
bump
../Media/Audio/SFX/smb_bump.wav
coin
../Media/Audio/SFX/smb_coin.wav
fireball
../Media/Audio/SFX/smb_fireball.wav
fireworks
../Media/Audio/SFX/smb_fireworks.wav
flag_pole
../Media/Audio/SFX/smb_flagpole.wav
mario_jump
../Media/Audio/SFX/smb_jump-small.wav
super_mario_jump
../Media/Audio/SFX/smb_jump-super.wav
kick
../Media/Audio/SFX/smb_kick.wav
pause
../Media/Audio/SFX/smb_pause.wav
pipe
../Media/Audio/SFX/smb_pipe.wav
power_up
../Media/Audio/SFX/smb_powerup.wav
power_up_appears
../Media/Audio/SFX/smb_powerup_appears.wav
stomp
../Media/Audio/SFX/smb_stomp.wav
vine
../Media/Audio/SFX/smb_vine.wav
game_over
../Media/Audio/Sounds/smb_gameover.wav
mario_die
../Media/Audio/Sounds/smb_mariodie.wav
stage_clear
../Media/Audio/Sounds/smb_stage_clear.wav
time_warning
../Media/Audio/Sounds/smb_warning.wav
world_clear
../Media/Audio/Sounds/smb_world_clear.wav